node_modules
dist
.env
npm-debug.log
.next/cache
.next/build-manifest.json
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/server
.next/static/chunks/pages/_app.js
.DS_Store
*.log


.git
.gitignore
.next
node_modules
README.md
Dockerfile
.env.local